<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge, chorme=1">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="format-detection" content="telephone-no">
	<title>Nhât Huy Khang</title>
	<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
	<link rel='stylesheet' href="https://cdn.rawgit.com/daneden/animate.css/v3.1.0/animate.min.css">
	<script src="https://cdn.rawgit.com/matthieua/WOW/1.0.1/dist/wow.min.js"></script>
	<script>
		new WOW().init();
	</script>
	<script src="js/javascript.js"></script>
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="css/font-awesome-4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">

	<!-- Optional theme -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap-theme.min.css" integrity="sha384-6pzBo3FDv/PJ8r2KRkGHifhEocL+1X2rVCTTkUfGk7/0pbek5mMa1upzvWbrUbOZ" crossorigin="anonymous">

	<!-- Latest compiled and minified JavaScript -->
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>
</head>
<body>
	<div class="container-fluid">
		<header id="header" class="">
			<div class="wow fadeInDown col-xl-12 logo">			
				<img src="img/logo.jpeg" alt="">
			</div>
			<div class="wow fadeInLeft row banner" data-wow-duration="1.5s" data-wow-delay="0.3s">
				<p class="col-xl-12 col-lg-12 col-md-12 col-sm-12 title-banner">LÀM VIỆC 5 NĂM TẠI NHẬT BẢN</p>
			</div>
		</header><!-- /header -->
		<div class="wow fadeInLeft row content" data-wow-duration="1.5s" data-wow-delay="0.3s">
			<div class="col-lg-2dot4 left-content">
				<img src="img/kimono1.jpg" alt="">
			</div> <!-- /left-content -->
			<div class="col-lg-7dot2 middle-content">
				<div class="wow fadeInRight title-form" data-wow-duration="2s" data-wow-delay="0.5s">
					<p class="text">ĐĂNG KÍ NHẬN THÔNG TIN CHƯƠNG TRÌNH</p>
				</div>
				<div class="content-detail">
					<div class="wow fadeInDown detail _1" data-wow-duration="1.5s">
						<p class="text-detail">BẠN LÀ <a class="rule" href="">*</a></p>
						<div class="choice">
							<div class="form-check radio">
							  <input class="form-check-input" type="radio" name="NHK" id="exampleRadios1" value="option1" data-info="1">
							  <label class="form-check-label" for="exampleRadios1">
							    Thực tập sinh Nhật Huy Khang đã về nước
							  </label>
							</div>
							<div class="form-check radio">
							  <input class="form-check-input" type="radio" name="NHK" id="exampleRadios2" value="option2" data-info="2">
							  <label class="form-check-label" for="exampleRadios2">
							    Thực tập sinh đã về nước (công ty khác phái cử)
							  </label>
							</div>
							<div class="form-check radio">
							  <input class="form-check-input" type="radio" name="NHK" id="exampleRadios3" value="option3" data-info="3">
							  <label class="form-check-label" for="exampleRadios3">
							    Chưa từng than gia Chương trình Thực tập sinh
							  </label>
							</div>
						</div>
						<div class="detail _1 mobile">
							<div class="row list-selections">
								<label>
									<input id="nhk1" type="radio" name="NHK1" data-info="1">
									<span>Nhật Huy Khang</span>
								</label>
								<label>
									<input id="nhk2" type="radio" name="NHK1" data-info="2">
									<span>Công ty khác</span>
								</label>
								<label>
									<input id="nhk3" type="radio" name="NHK1" data-info="3">
									<span>Chưa từng thực tập</span>
								</label>
							</div>
						</div> <!-- /detail _1_mobile -->
					</div><!-- /detail _1 -->
					<div class="wow fadeInDown detail _2" data-wow-duration="1.5s" data-wow-delay="0.3s">
						<p class="text-detail">NGÀNH NGHỀ BẠN ĐÃ LÀM 3 NĂM TẠI NHẬT <a class="rule" href="">*</a></p>
						<div class="input-job">
							<input class="form-control" type="text">
						</div>
					</div> <!-- /detail _2 -->
					<div class="wow fadeInDown detail _3" data-wow-duration="1.5s" data-wow-delay="0.3s">
						<p class="text-detail">NGÀNH NGHỀ MONG MUỐN THAM GIA (CÓ THỂ CHỌN NHIỀU NGÀNH) <a class="rule" href="">*</a></p>
						<div class="row list-jobs">
							<div class="col-md-6 col-lg-6 col-sm-12 list-job1">
								<div class="col-lg-12 form-check check">
								  <input class="form-check-input" type="checkbox" value="1" id="job1" name="job-desktop" data-id="1">
								  <label class="form-check-label" for="job1">
								    Xây dựng
								  </label>
								</div>
								<div class="col-lg-12 form-check check">
								  <input class="form-check-input" type="checkbox" value="2" id="job2" name="job-desktop" data-id="2">
								  <label class="form-check-label" for="job2">
								    Đóng tàu
								  </label>
								</div>
								<div class="col-lg-12 form-check check">
								  <input class="form-check-input" type="checkbox" value="3" id="job3" name="job-desktop" data-id="3">
								  <label class="form-check-label" for="job3">
								    Bảo dưỡng ô tô
								  </label>
								</div>
								<div class="col-lg-12 form-check check">
								  <input class="form-check-input" type="checkbox" value="4" id="job4" name="job-desktop" data-id="4">
								  <label class="form-check-label" for="job4">
								    Hàng không
								  </label>
								</div>
								<div class="col-lg-12 form-check check">
								  <input class="form-check-input" type="checkbox" value="5" id="job5" name="job-desktop" data-id="5">
								  <label class="form-check-label" for="job5">
								    Khách sạn
								  </label>
								</div>
								<div class="col-lg-12 form-check check">
								  <input class="form-check-input" type="checkbox" value="6" id="job6" name="job-desktop" data-id="6">
								  <label class="form-check-label" for="job6">
								    Điều dưỡng
								  </label>
								</div>						
								<div class="col-lg-12 form-check check">
								  <input class="form-check-input" type="checkbox" value="7" id="job7" name="job-desktop" data-id="7">
								  <label class="form-check-label" for="job7">
								    Làm sạch tòa nhà
								  </label>
								</div>
							</div>
							<div class="col-md-6 col-lg-6 col-sm-12 list-job2">
								<div class="col-lg-12 form-check check">
								  <input class="form-check-input" type="checkbox" value="8" id="job8" name="job-desktop" data-id="8">
								  <label class="form-check-label" for="job8">
								    Nông nghiệp
								  </label>
								</div>
								<div class="col-lg-12 form-check check">
								  <input class="form-check-input" type="checkbox" value="9" id="job9" name="job-desktop" data-id="9">
								  <label class="form-check-label" for="job9">
								    Ngư nghiệp
								  </label>
								</div>
								<div class="col-lg-12 form-check check">
								  <input class="form-check-input" type="checkbox" value="10" id="job10" name="job-desktop" data-id="10">
								  <label class="form-check-label" for="job10">
								    Chế biến thực phẩm
								  </label>
								</div>
								<div class="col-lg-12 form-check check">
								  <input class="form-check-input" type="checkbox" value="11" id="job11" name="job-desktop" data-id="11">
								  <label class="form-check-label" for="job11">
								    Nhà hàng
								  </label>
								</div>
								<div class="col-lg-12 form-check check">
								  <input class="form-check-input" type="checkbox" value="12" id="job12" name="job-desktop" data-id="12">
								  <label class="form-check-label" for="job12">
								    Gia công chế tạo công nghiệp
								  </label>
								</div>
								<div class="col-lg-12 form-check check">
								  <input class="form-check-input" type="checkbox" value="13" id="job13" name="job-desktop" data-id="13">
								  <label class="form-check-label" for="job13">
								    Sản xuất máy công nghiệp
								  </label>
								</div>
								<div class="col-lg-12 form-check check">
								  <input class="form-check-input" type="checkbox" value="14" id="job14" name="job-desktop" data-id="14">
								  <label class="form-check-label" for="job14">
								    Các ngành liên quan điện - điện tử - viễn thông
								  </label>
								</div>
								<div class="col-lg-12 form-check check">
								  <input class="form-check-input" type="checkbox" value="15" id="job15" name="job-desktop" data-id="15">
								  <label class="form-check-label" for="job15">
								    Khác
								  </label>
								</div>
							</div>
						</div> <!-- /list-jobs -->
						<div class="row form-check job-in-mobile">
							<div class="ck-button">
							   <label>
							      <input id="job-mobile6" type="checkbox" value="6" name="job-mobile" data-id="6"><span>Điều dưỡng</span>
							   </label>
							</div>
							<div class="ck-button">
							   <label>
							      <input id="job-mobile1" type="checkbox" value="1" name="job-mobile" data-id="1"><span>Xây dựng</span>
							   </label>
							</div>
							<div class="ck-button">
							   <label>
							      <input id="job-mobile9" type="checkbox" value="9" name="job-mobile" data-id="9"><span>Ngư nghiệp</span>
							   </label>
							</div>
							<div class="ck-button">
							   <label>
							      <input id="job-mobile2" type="checkbox" value="2" name="job-mobile" data-id="2"><span>Đóng tàu</span>
							   </label>
							</div>
							<div class="ck-button">
							   <label>
							      <input id="job-mobile11" type="checkbox" value="11" name="job-mobile" data-id="11"><span>Nhà hàng</span>
							   </label>
							</div>
							<div class="ck-button">
							   <label>
							      <input id="job-mobile5" type="checkbox" value="5" name="job-mobile" data-id="5"><span>Khách sạn</span>
							   </label>
							</div>
							<div class="ck-button">
							   <label>
							      <input id="job-mobile7" type="checkbox" value="7" name="job-mobile" data-id="7"><span>Làm sạch tòa nhà</span>
							   </label>
							</div>
							<div class="ck-button">
							   <label>
							      <input id="job-mobile4" type="checkbox" value="4" name="job-mobile" data-id="4"><span>Hàng không</span>
							   </label>
							</div>
							<div class="ck-button">
							   <label>
							      <input id="job-mobile10" type="checkbox" value="10" name="job-mobile" data-id="10"><span>Chế biến thực phẩm</span>
							   </label>
							</div>
							<div class="ck-button">
							   <label>
							      <input  id="job-mobile8" type="checkbox" value="8" name="job-mobile" data-id="8"><span>Nông nghiệp</span>
							   </label>
							</div>
							<div class="ck-button">
							   <label>
							      <input id="job-mobile3" type="checkbox" value="3" name="job-mobile" data-id="3"><span>Bảo dưỡng ô tô</span>
							   </label>
							</div>
							<div class="ck-button">
							   <label>
							      <input id="job-mobile13" type="checkbox" value="13" name="job-mobile" data-id="13"><span>Sản xuất máy công nghiệp</span>
							   </label>
							</div>
							<div class="ck-button">
							   <label>
							      <input id="job-mobile12" type="checkbox" value="12" name="job-mobile" data-id="12"><span>Gia công chế tạo công nghiệp</span>
							   </label>
							</div>
							<div class="ck-button">
							   <label>
							      <input id="job-mobile14" type="checkbox" value="14" name="job-mobile" data-id="14"><span>Các ngành liên quan điện - điện tử - viễn thông</span>
							   </label>
							</div>
						</div>	 <!-- end row job-in-mobile -->
					</div> <!-- /detail _3 -->
					<div class="wow fadeInDown detail _4" data-wow-duration="1.5s" data-wow-delay="0.3s">
						<p class="text-detail">THÔNG TIN LIÊN HỆ CỦA BẠN<a class="rule" href="">*</a></p>
						<div class="content-detail4">
							<p>Vui lòng nhập thông tin Họ tên, Số điện thoại, và Email của bạn tại đây, chúng tôi sẽ gửi ngay cho bạn thông tin mới nhất cũng như trương chình làm việc cụ thể</p>
							<form method="POST" action="insert-info">
							  <div class="row form-group">
							    <label class="col-lg-2 col-md-2 col-sm-2" for="exampleFormControlInput1">Họ và tên <a  class="rule" href="">*</a>:</label>
								<input name="hoten" type="text" class="col-lg-10 col-sm-10 col-sm-10 form-control-ex" id="exampleFormControlInput1">
							  </div>
							  <div class="row form-group">
							    <label class="col-lg-2 col-md-2 col-sm-2" for="exampleFormControlInput1">Điện thoại <a  class="rule" href="">*</a>:</label>
							    <input name="numphone" type="text" class="col-lg-10 col-sm-10 col-sm-10 form-control-ex" id="exampleFormControlInput1">
							  </div>
							  <div class="row form-group">
							    <label class="col-lg-2 col-md-2 col-sm-2" for="exampleFormControlInput1">Email <a  class="rule" href="">*</a>:</label>
							    <input name="email" type="email" class="col-lg-10 col-sm-10 col-sm-10 form-control-ex" id="exampleFormControlInput1">
							  </div>
								<input type="submit"/>
							</form>
						</div>
					</div> <!-- /detail _4 -->
					<div class="wow fadeInDown detail _5" data-wow-duration="1.5s" data-wow-delay="0.3s">
						<p class="text-detail">BẠN CÓ MUỐN NHẮN GỬI GÌ KHÔNG? (KHÔNG BẮT BUỘC):</p>
						<textarea class="form-control" aria-label="With textarea"></textarea>
					</div> <!-- /detail _5 -->
					<div class="wow fadeInDown detail _6" data-wow-duration="1.5s" data-wow-delay="0.3s">
						<div onclick=submit() class="col-lg-6 col-md-6 col-sm-12 button-submit">
							<button href="insert-info" type="button" class="col-lg-12 col-md-12 col-sm-12 col-12 btn btn-primary btn-lg">Gửi</button>
						</div>
						<div class="col-lg-6 col-md-6 col-sm-12 button-cancel">
							<button type="button" class="col-lg-12 col-md-12 col-sm-12 col-12 btn-secondary btn-lg">Hủy</button>
						</div>
					</div> <!-- /detail _6 -->
				</div> <!-- /content-detail -->
			</div> <!-- /middle-content -->
			<div class="wow fadeInRight col-lg-2dot4 right-content" data-wow-duration="1.5s" data-wow-delay="0.3s" >
				<img src="img/kimono2.jpg" alt="">
			</div> <!-- /right-content -->
		</div> <!-- /content -->
	<footer>
		<div class="row content-footer">
			<div class="col-lg-2 footer_ f1">
				<div class="logo-footer">
					<img src="img/logo.jpeg" alt="">
				</div>
				<p><i class="fa fa-phone"></i>028 36 222 299</p>
				<p><i class="material-icons">email</i>support@nhhk.com.vn</p>
				<p><i class="fa fa-facebook-square"></i>nhhk.com.vn</p>
			</div>
			<div class="col-lg-3 footer_ f2">
				<p class="title-footer">Trụ sở chính</p>
				<div class="row">
					<div class="col-lg-9 address">
						<p><i class="material-icons">location_on</i>102-102A Nguyễn Văn Đậu, Q.Bình Thạnh, TP.HCM</p>
						<p><i class="fa fa-phone"></i>028 36 222 299</p>
					</div>
					<div class="col-lg-3 map">
						<button type="button" class="btn btn-outline-dark">Xem bản đồ</button>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-9 address">
						<p><i class="material-icons">location_on</i>Khu công nghệ cao, Q.9, TP.HCM</p>
						<p><i class="fa fa-phone"></i>028 36 222 299</p>
					</div>
					<div class="col-lg-3 map">
						<button type="button" class="btn btn-outline-dark">Xem bản đồ</button>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-9 address">
						<p><i class="material-icons">location_on</i>Đường 400, P.Tân Phú, Q.9, TP.HCM</p>
						<p><i class="fa fa-phone"></i>028 36 222 299</p>
					</div>
					<div class="col-lg-3 map">
						<button type="button" class="btn btn-outline-dark">Xem bản đồ</button>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-9 address">
						<p><i class="material-icons">location_on</i>Đường số 8, P.Linh Chiểu, Q.Thủ Đức, TP.HCM</p>
						<p><i class="fa fa-phone"></i>028 36 222 299</p>
					</div>
					<div class="col-lg-3 map">
						<button type="button" class="btn btn-outline-dark">Xem bản đồ</button>
					</div>
				</div>
			</div>
			<div class="col-lg-4 footer_ f3">
				<p class="title-footer">Văn Phòng Nhật Bản</p>
				<div class="row office-japan">
					<div class="col-lg-9 address">
						<p><i class="material-icons">location_on</i>Aichi-Ken, Nagoya-Shi, Nakamura-Ku, Noritoke 2</p>
						<p><i class="fa fa-phone"></i>028 36 222 299</p>
					</div>
					<div class="col-lg-3 map">
						<button type="button" class="btn btn-outline-dark">Xem bản đồ</button>
					</div>
				</div> <!-- end office-japan -->
				<p class="title-footer">Văn phòng huế</p>
				<div class="row office-hue">
					<div class="col-lg-9 address">
						<p><i class="material-icons">location_on</i>Trường đại học Nông Lâm Huế 102 Phùng Hưng, Thuận Thành, TP.Huế</p>
						<p><i class="fa fa-phone"></i>0234 6299 599</p>
					</div>
					<div class="col-lg-3 map">
						<button type="button" class="btn btn-outline-dark">Xem bản đồ</button>
					</div>
				</div>
			</div>
			<div class="col-lg-3 footer_ f4">
				<p class="title-footer">Đăng kí nhận tin</p>
				<p>Mỗi tháng chúng tôi đều có những cập nhật mới về sự kiện diễn ra trong quý và tổng hợp các đơn tuyển dụng HOT. Để có thể cập nhật kịp thời những thông tin này, vui lòng nhập địa chỉ email của bạn vào ô dưới đây.</p>
				<div class="row input-info">
					<div class="col-lg-10 input-group mb-3">
					  <input type="text" class="form-control" placeholder="Nhập email của bạn để nhận thông tin tuyển dụng sớm nhất">
					</div> <!-- end input-group mb-3 -->
					  <span class="col-lg-2">
					  	<i class="fa fa-telegram"></i>
					  </span>
				 </div>
				<ul class="list-social-network">
					<li>
						<i class="fa fa-facebook-square"></i>
					</li>
					<li>
						<i class="fa fa-youtube-play"></i>
					</li>
					<li>
						<i class="	fa fa-instagram"></i>
					</li>
				</ul>
			</div>
		</div> <!-- end content footer -->
		<div class="row last-footer">
			<p><b>Copyrights © 2019 by PPlus. Power by PPlus</b></p>
		</div>
	</footer> <!-- end footer -->
	</div> <!-- /container-fluid -->
</body>
</html>